.topnav {
    margin-top: 100px;
    height: 600px;
    width: 1700px;
}

.carde {
    margin-top: 160px;
    margin-bottom: 140px;
}

#header {
    margin-top: 100px;
}

@media (min-width: 1300px) and (max-width: 1600px) {
    #map
    {
    box-shadow: 5px 5px 10px gray;
    height: 380px;
    width: 720px;
    }
    .new
    {
        padding: 40px;
    }
  }
@media (min-width: 1280px) and (max-width: 1300px)
{
    #map
    {
    margin-top: 10px;
    height: 350px;
    width: 640px;
    }
}
  @media (min-width: 990px) and (max-width: 1281px) {
    #map
    {
        margin-top: 10px;
        height: 310px;
        width: 550px;
    }
  }
@media (min-width: 767px) and (max-width: 990px) {
    .card {
        margin: 20px;
    }
    #map
    {
    margin-top: 10px;
    height: 380px;
    width: 690px;
    }
    input,textarea,#send
    {
        margin-left: 100px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .new
    {
        padding: 0px;
    }
    #header>img {
        height: 250px;
    }

    .carde {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .second-portion {
        margin-top: 25px;
    }

    .topnav {
        height: 220px;
        width: 540px;
    }
    #map
    {
        margin-top: 25px;
        height: 240px;
        width: 340px;

    }
    .card
    {
        margin-bottom: 10px;
    }

}

/* cards*/
.card {
    border-radius: 4px;
    background-color: #9aceaf;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    border-radius: 40px;


}



.card h3 {
    font-weight: 600;
}


.card-1 {
    padding: 20px;
}

.card-1:hover {
    border-radius: 2px;
    transition: all 0.60s ease-in-out;
    background-color: lightgrey;
    padding: 24px;

}

.card-2:hover {
    background-color: white;
}

.card-3:hover {
    background-color: white;
}

/* cards*/


